input, select {
    padding: 10px;
    border-radius: 5px;
    width: 70%;
    min-width: 300px;
    border: 1px solid #ccc;
    font-size: 14px;
    transition: all 0.3s ease;
    box-sizing: border-box;
}

article{
    gap: 10px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 5);
    flex-direction: column;
    flex-wrap: nowrap;
}

img.profile-picture {
    width: 200px;
    height: 200px;
}

section {
    gap: 20px;
    border-radius: 10px;
    background: #18181b;
}

td {
    text-align: right;
    padding: 1%;
}

td.input {
    width: 70%;
    text-align: left;
}