/* General Layout */
html, body {
    background-color: #f4f4f4;
}

h1 {
    font-size: 50px;
}

/* Header Section */
.header-section {
    text-align: center;
    padding: 20px;
}

.strong-bienvenue {
    color: #672323;
}

/* Section Styles */
.section-index {
    padding: 40px;
    background: #0d1117;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Quick Actions */
.actions {
    display: flex;
    gap: 15px;
    justify-content: center;
}



.button:hover, button:hover {
    opacity: 0.8;
    transform: scale(1.05);
}

#team-performance{
    display: flex;
    gap: 25px;
    flex-direction: row;
    justify-content: space-evenly;
}


td {
    vertical-align: middle; /* Align content vertically */
}

/* Ensure flex inside but not on <td> */
.match-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.action {
    display: flex;
    justify-content: center; /* Align button to the right */
}

article{
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}