/* Navigation Styles */
nav {
    width: 15%;
    min-width: 180px;
    background: #18181b;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 0;
    margin: 5px;
}

/* Navigation List */
nav ul {
    list-style: none;
    padding: 0;
    margin: 0 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Navigation Links */
nav ul li {
    width: 100%;
    margin: 3px 0;
    text-align: center;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    /*background: #24242c;*/
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 12px 40px;
}

nav ul li a:hover {
    background: #595993;
    /*transform: scale(1.05);*/
}

ul#nav {
    border-bottom: 1px solid gray;
}

/* Logout Button */
ul#logout li a {
    background: #dc0822;
    color: white;
    justify-content: center;
}

ul#logout li a:hover {
    background: #780510;
}