div.main {
    display: flex;
    width: 83%;
    padding: 2%;
    padding-bottom: 0;
    flex-direction: column;
    gap: 20px;
    overflow: auto;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 5px;
}

.background {
    background: #0d1117;
    min-height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}